@{
    ViewData["Title"] = "Melhores jogadores em suas lanes";
}
<h1>@ViewData["Title"]</h1>

<p>Principais jogadores com esses Campões. Você pode acompanha-los em: <a href="https://www.twitch.tv/">twitch.tv</a> .</p>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Mid Laner</th>
      <th scope="col">Top Laner</th>
      <th scope="col">Adc</th>
      <th scope="col">Support</th>
      <th scope="col">Jungler</th>
    </tr>
  </thead>
  
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Pedro</td>
      <td>Alan</td>
      <td>Vagner</td>
      <td>Maria</td>
      <td>Lena</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Ruan</td>
      <td>Gabriek</td>
      <td>Peter</td>
      <td>Eduardo</td>
      <td>Egor</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Paloma</td>
      <td>Jack</td>
      <td>Ryan</td>
      <td>Harry</td>
      <td>William</td>
    </tr>
  </tbody>
</table>
<br><br>
<h2><p>Contate-nos</p></h2>


<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Email para contato</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ensira seu email">
    <small id="emailHelp" class="form-text text-muted">Não iremos compartilhar seu email com mais ninguém.</small>
  </div>
  <br>
  <div class="form-group">
    <label for="exampleInputPassword1">Qual o seu problema?</label>
    <input type="tex" class="form-control" id="exampleInputPassword1" placeholder="Digite aqui">
  </div>

  <br>

  <form>
    <div class="form-group">
      <label for="exampleFormControlFile1">Buscar arquivo</label>
      <input type="file" class="form-control-file" id="exampleFormControlFile1">

      <button type="submit" class="btn btn-primary">Enviar</button>
    </div>
  </form>
  <br>
 

</form>
