@{
    ViewData["Title"] = "Melhores jogadores em suas lanes";
}
<h1>@ViewData["Title"]</h1>

<p>Principais jogadores com esses Campões. Você pode acompanha-los em: <a href="https://www.twitch.tv/">twitch.tv</a> .</p>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Mid Laner</th>
      <th scope="col">Top Laner</th>
      <th scope="col">Adc</th>
      <th scope="col">Support</th>
      <th scope="col">Jungler</th>
    </tr>
  </thead>
  
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Pedro</td>
      <td>Alan</td>
      <td>Vagner</td>
      <td>Maria</td>
      <td>Lena</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Ruan</td>
      <td>Gabriek</td>
      <td>Peter</td>
      <td>Eduardo</td>
      <td>Egor</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Paloma</td>
      <td>Jack</td>
      <td>Ryan</td>
      <td>Harry</td>
      <td>William</td>
    </tr>
  </tbody>
</table>
